p#validationMessage {
    display: none;
    color: #005a6a;
    font-weight: bold;
}

.submissionSuccessful {
    p#validationMessage {
        display: block;
    }
    .formElement {
        display: none;
    }
}

input,textarea {
    display: block;
    width: 100%;
    border: 2px solid black;
    padding: 10px;
}

input {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}