.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

header {
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 10px;
}

nav ul li a.active {
    color: $green;
}

.headerLogo_image svg {
    height: 60px;
}

.headerLogo {
    display: flex;
}

.headerLogo_name {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.headerLogo_name h2 {
    font-size: 16px;
}

.headerLogo_name h1 {
    font-size: 20px;
}

.headerLogo_name-inner {
    text-align: left;
}

nav {
    display: flex;
    align-items: center;
}

.hero_outerContainer {
    background: #42DCA3;
}

.hero_outerContainer .container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.hero_right svg {
    height: 200px;
}

.hero_left {
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
}
