header {
    padding: 10px 0;
    border-bottom: 5px solid;
}

.headerLogo_image {
    display: flex;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 10px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a.active {
    text-decoration: underline;
}

.headerLogo_image svg {
    height: 60px;
}

.headerLogo {
    display: flex;
}

.headerLogo_name {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
}

.headerLogo_name p.headerSubCopy {
    font-size: 16px;
}

.headerLogo_name p.headerName {
    font-size: 20px;
}

.headerLogo_name-inner {
    text-align: left;
}

nav {
    display: flex;
    align-items: center;
}

.themeSwitcher-container {
    margin-top: 5px;
    .container {
        display: flex;
        justify-content: flex-end;
    }
    button {
        min-width: 130px;
    }
}

.headerThemeContainer {
    display: flex;
    justify-content: flex-end;
}

nav ul li:last-child {
    padding-right: 0;
}

.headerLogo_image a {
    text-decoration: none;
}


// @media (max-width: 767px) {
//     .themeSwitcher-container {
//         .container {
//             justify-content: center;
//         }
        
//     }

//     nav {
//         margin-top: 10px;
//     }
// }