.hero_outerContainer .container {
    padding: 50px 0px;
}

.homeIntro {
    margin: 20px 0px;
}

.homeIntro p {
    margin-bottom: 10px;
}

.hero_logo {
    max-width: 150px;
    margin: 0 auto;
}

.hero_copy-inner {
    text-align: center;
    margin-top: 20px;
}

.hero_copy-inner h1 {
    font-size: 40px;
}

.hero_copy-inner h2 {
    font-size: 20px;
    margin-top: 20px;
}

.quickIntro {
    // padding: 30px 0 80px;
    padding: 30px 0 30px;
}

.homeSections {
    margin-bottom: 40px;
}

.home_innerContainer {
    display: flex;
    justify-content: space-around;
    background: $white;
    margin-top: -70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 5px solid #005a6a;
}

.home_innerContainer > div {
    flex-grow: 1;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 0;
}

.homePortfolio.centre {
    border-left: 5px solid #005a6a;
    border-right: 5px solid #005a6a;
}

.section-header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.section-button {
    text-align: center;
}

.section-Content {
    margin: 20px 0;
}

.section-button .btn {
    background: #003366;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
