.logoWhite {
    .cls-1{font-size:30px;font-family:Montserrat-Bold, Montserrat;font-weight:700;}.cls-2{font-size:12.09px;font-family:Montserrat-Regular, Montserrat;letter-spacing:0.05em;}.cls-3{letter-spacing:0.06em;}.cls-4{letter-spacing:0.04em;}.cls-5{letter-spacing:0.02em;}.cls-6{fill:none;}.cls-6,.cls-7{stroke-miterlimit:10;}.cls-7{stroke-width:0.25px;}
}

.logoBlack {
    .cls-1{font-size:30px;font-family:Montserrat-Bold, Montserrat;font-weight:700;}.cls-2{font-size:12.09px;font-family:Montserrat-Regular, Montserrat;letter-spacing:0.05em;}.cls-3{letter-spacing:0.06em;}.cls-4{letter-spacing:0.04em;}.cls-5{letter-spacing:0.02em;}.cls-6,.cls-7{fill:none;stroke-miterlimit:10;}.cls-7{stroke-width:0.25px;}
}